@import "~@angular/material/theming";
@import './styles/themes/themes';

/* Include common styles */
@include mat-core();

@import './styles/global';

:root {
  --content-padding: 48px;

  // Header
  --header-height-small: 40px;
  --header-height-large: 64px;

  @media screen and (max-width: 960px) {
    --content-padding: 16px;
  }
}

html,
body {
  font-family: 'Roboto', Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--clr-neutral-0dp);
}

// Transition between themes
* {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s !important;
}